body {
   background-image: url("Images/empty-movie-theater.jpg");
   background-color: #000000 ;
   height: 800px;
   background-repeat: no-repeat;
   background-size: cover;
}

h1 {
   font-family: 'Phosphate', sans-serif;
   color: white;
   font-size: 100px;
   text-shadow: 5px 5px 4px #B82000;

}

.go {
   margin: 1%;
   background-color: #B82000;
   color: white;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 50px;
   font-size: 2rem;
   font-family: 'Phosphate', sans-serif;
}

.genre {
   margin: 1%;
   background-color: Transparent;
   color: white;
   padding-right: 20px;
   padding-left: 20px;
   border-radius: 50px;
   font-size: 1.25rem;
}

.mt-0 {
  margin-top: 0px;
}

.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 30px;
}
.mt-3 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: -30px;
}

.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 30px;
}
.mb-3 {
  margin-bottom: 50px;
}

.bg-transluscent {
  background:rgba(255,255,255,0.5);
}
